<% provide :title, t(".title") %>

<h1><%= t ".title" %></h1>
<p>
  <%= t ".text-1" %>
  <%= link_to t(".text-2"), "http://www.railstutorial.org" %>
  <%= t ".text-3" %>
  <%= link_to t(".text-4"), "http://www.railstutorial.org/book" %>
  <%= t ".text-5" %>
  <%= link_to t(".text-6"), "http://screencasts.railstutorial.org/" %>
  <%= t ".text-7" %>
  <%= link_to t(".text-8"), "http://rubyonrails.org/" %>.
  <%= t ".text-9" %>
</p>

