<% provide :title, t(".title") %>

<h1><%= t ".title" %></h1>
<p>
  <%= t ".text-1" %>
  <%= link_to t(".text-2"), "http://www.railstutorial.org/help" %>.
  <%= t ".text-3" %>
  <%= link_to t(".text-4"), "http://www.railstutorial.org/book" %>.
</p>
