<% provide :title, t(".title") %>

<h1><%= t ".title" %></h1>
<p>
  <%= t ".gethelpon" %>
  <%= link_to t(".railssection"), "http://www.railstutorial.org/help" %>.
  <%= t ".tohelepsample" %>
  <%= link_to t(".railstutorial"), "http://www.railstutorial.org/book" %>.
</p>
