<div class="center jumbotron" >
  <h1><%= t ".title" %></h1>
  <h2>
    <%= t ".thisthehome" %>
    <%= link_to t(".rubyonrails"), "http://www.railstutorial.org/" %>.
    <%= t ".sampleapp" %>
  </h2>
  <%= link_to t(".signupnow"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: t(".railslogo")), "http://rubyonrails.org/" %>
