<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".title_tut"), t(".url_tut") %>
    <%= t ".by" %> <%= link_to t(".title_author"), t(".url_author") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".title_news"), t(".url_news") %></li>
    </ul>
  </nav>
</footer>
