<footer class="footer">
  <small>
    <%= t ".text-1" %>
    <%= link_to t(".text-2"), "http://www.railstutorial.org/" %>
    <%= t ".text-3" %>
    <%= link_to t(".text-4"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".text-5"), about_path %></li>
      <li><%= link_to t(".text-6"), contact_path %></li>
      <li><%= link_to t(".text-7"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
